@page "/404"

<PageTitle>Not Found</PageTitle>
<h3>The page you are trying to access does not exist!</h3>
<p>
  You can return to home by clicking
  <NavLink class="" href="" Match="NavLinkMatch.All">
    here
  </NavLink>
</p>
@code {

}